@import "./src/common/sass/variables";
@import "./src/common/sass/mixins";

.mainWrapper {

  .burgerNav {
    width: 100%;
    .items {
      position: absolute;
      right: 0;
      top: 70px;
      width: 200px;
      height: 70vh;
      background-color: #ffffff;
      transform: translate(230px, 0);
      transition: 0.7s;


      a {
        text-align: end;
        width: 100%;
        font-size: 15px;
        //border: #333333 solid 1px;
        padding: 10px 15px 10px 0;
        //font-weight: bold;
      }

      :hover {
        //background-color: $generalTitleColor;
        color: rgba(0, 0, 0, 0.14);
      }

      @include flexColumnCenter();
      align-items: end;

    }

    .show {
      transform: translate(0, 0);
      transition: 0.7s;
    }

    .icons {
      width: 100%;
      //padding-right: 20px;
      margin-top: auto;
    }


    .burgerButtonWrapper {
      position: fixed;
      top: 20px;
      right: 3%;
      width: 82px;
      height: 39px;
      background-color: transparent;
      z-index: 9999;
      //border: 1px solid black;


      @media screen and (min-width: 1025px) {
        display: none;
      }
    }


  }

  .active {
    color: white;
    background-color: $generalTitleColor;
  }
}


