.generalContainer {
    /*border: 5px green dashed;*/
    background-color: rgb(246 251 255 );/*MAIN CONTAINER COLOR*/
    height: 100%;
    width: 90%;
    padding: 0 30px 0 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}