.mainWrapper {
    height: 100vh;
    background-color: rgb(255 255 255); /* general color*/
}

/*высота в контейнере на всю высоту родителя mainWrapper*/
.container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    /*background-color: rgba(66, 110, 66, 0.32);*/
}

.photo {
    width: 300px;
    height: 400px;
    background-color: bisque;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 30px;
    }
    .text {
        font-size: 20px;
    }
}

