@import './src/common/sass/mixins';
@import './src/common/sass/variables';


.mainWrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  .container {
    background-color: white;
    justify-content: flex-end;
    width: 100%;

    .header {

      height: 60px;


      .active {
        color: white ;
        background-color: $generalTitleColor;
      }
    }
  }

}