@import '../../common/sass/mixins.scss';


.mainWrapper {
  .container {
    background-color: white;
    padding-right: 30px;
    justify-content: flex-end;

    .header {
      @include flexRowCenter();
      height: 80px;
    }
  }
}