@import '../../common/sass/mixins.scss';


.mainWrapper{
  position: sticky;
  top: 0;
  z-index: 2;

  .container {
    background-color: white;
    padding-right: 30px;
    justify-content: flex-end;

    .header {
      @include flexRowCenter();
      height: 60px;
    }
  }
}